body {
  background-color: rgb(102, 101, 101);
  font-family: 'Open Sans', sans-serif;
  display:inline;
  
}

div {
  background-color: blanchedalmond;
  width: 500px;
  display:block;
  margin: 0 auto;
  
}

h1 {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  background-color: black;
  color: orange ;
}

h3 {
  color: rgb(255, 102, 0);
  margin-bottom: auto;
}

ul {
  list-style-type: disclosure-closed;
}
li {
  padding-top: 10px;
}

#privacy p {
  margin-block-end: 5px;
  margin-block-start: auto;
}

footer {
  margin-top: 100px;
  height: 300px;
  background-image: url(./images/books.jpeg);
  background-repeat: no-repeat;
  background-size:500px 300px;
  
}