body {
  background-color: rgb(102, 101, 101);
  font-family: 'Open Sans', sans-serif;
  display:inline;
}

div {
  background-color: blanchedalmond;
  width: 500px;
  display:block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  background-color: black;
  color: orange ;
}

