body {
  background-color: rgb(102, 101, 101);
  font-family: 'Open Sans', sans-serif;
  display:inline;
  
}


div {
  background-color: blanchedalmond;
  width: 500px;
  display:block;
  margin: 0 auto;
  /* padding-left: 25px;
  padding-right: 25px; */
}

div.container {
  width: 470px;
}

h1 {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
  background-color: black;
  color: orange ;
  display: block;
  margin-top:auto;
}

h3 {
  color: rgb(255, 102, 0);
  margin-bottom: auto;
  text-align: center;
}

ul {
  list-style-type: disclosure-closed;
}
li {
  padding-top: 10px;
}


footer {
  margin-top: 100px;
  height: 300px;
  background-image: url(./images/footer-background.jpeg);
  background-repeat: no-repeat;
  background-size:500px 300px;
  
}
 footer p{
  
  padding-top: 190px;
  text-align: center;
  font-size:40px;
 }
img {
  max-width: 470px;
  margin-top: auto;
}

table, th, td {
  
  margin: auto;
  width: 50%;
  border: 2px solid black;
  border-collapse: collapse;
  
}